<a text-align="left" routerLink='/wishlistproduct'>WishListProduct</a>
<div [hidden]="!submitted">
  <div class="row">
    <div *ngFor="let t of result ">
      <div class="column">
        <div class="card">
          <img src={{t.prod_Image}} style="width:100%; height:300px;">
          <h1>{{t.prod_Name}}</h1>
          <p class="price">Price : {{t.prod_Price}} </p>
          <p class="dis"> Discount : {{t.prod_Discount}}%</p>
          <p>{{t.prod_Desc}}</p>
          <p>
            <button>Add to Cart</button>
            <button (click)="wishlist(t.prod_Id)">Add to WishList</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>